{% extends "layout.html" %}

{% block body %}

<div class="info">
    <h1><span>WELCOME TO</span> <span>AUDIO AVERAGES</span></h1>
    <h4>Here you will find song-specific audio analysis from Spotify's algorithms</h4>
    <h3>GETTING STARTED</h3>
    <p>If this is your first time here, we suggest that you check out the info section, to get a better understanding of the data you're viewing.</p>
    <p>In the Top Hits section, you can view the data for all of the "top hits of the year"-playlists, dating back to 1970. In the Averages section, the data from Top Hits is presented over time, to get a better understanding of long term trends in the music industry.</p>
    <p>And finally, you can search on your own for any album, song, playlist or artist, pulling data directly from Spotify</p>

</div>

{% endblock %}