{% extends "layout.html" %}

{% block body %}
<div class="lookup-header">
    <div class="lookup-text">
        <h1>{{ data['name'] }}</h1>
        {% if data['type'] != "playlist" %}
        <h2>
        {% for artists in data['artists'] %}
            {% for name, id in artists.items() %}
                <form action="/lookup" method="post">
                    <input type="hidden" name="id" value="{{ id }}">
                    <input type="hidden" name="category" value="artists">
                    <input class="formlink" type="submit" value="{{ name }}">
                </form> 
            {% endfor %}
        {% endfor %}
        </h2>
        {% endif %}
    </div>
    <img class="lookup-img {% if data['type'] == "artist" %}artist-img{% endif %}" src="{{ data['img'] }}" alt="" width="300px">
</div>
{% if data['type'] != "artist" %}
<table class="data data-{{ category }}">
    <thead>
        <tr>
            <th class="i">#</th>
            {% if data['type'] != "track" %}
            <th class="th-track">Track</th>
            {% endif %}
            {% if data['type'] == "playlist" %}
            <th class="th-artist">Artist(s)</th>
            {% endif %}
            <th>Loudness</th>
            <th>Danceability</th>
            <th>Valence</th>
            <th>Speechiness</th>
            <th>Acousticness</th>
            <th>Key</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in data['tracks'] %}
        <tr>
            <td>{{ entry }}</td>
            {% if data['type'] != "track" %}
            <td>{{ data['tracks'][entry]['track'] }}</td>
            {% endif %}
            {% if data['type'] == "playlist" %}
            <td>
            {% for artists in data['tracks'][entry]['artists'] %}
                {% for name, id in artists.items() %}
                <form action="/lookup" method="post">
                    <input type="hidden" name="id" value="{{ id }}">
                    <input type="hidden" name="category" value="artists">
                    <input class="formlink" type="submit" value="{{ name }}">
                </form>
                {% endfor %}
            {% endfor %}
            </td>
            {% endif %}
            <td>{{ data['tracks'][entry]['audio_features']['loudness'] }}</td>
            <td>{{ data['tracks'][entry]['audio_features']['danceability'] | percent }}</td>
            <td>{{ data['tracks'][entry]['audio_features']['valence'] | percent }}</td>
            <td>{{ data['tracks'][entry]['audio_features']['speechiness'] | percent }}</td>
            <td>{{ data['tracks'][entry]['audio_features']['acousticness'] | percent }}</td>
            <td>{{ data['tracks'][entry]['audio_features']['key'] }}</td>
            <td>{{ data['tracks'][entry]['audio_features']['duration'] | time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

    {% if data['albums'] %}
    <h3>ALBUMS</h3>
    <div class="cardcontainer">
        {% for entry in data['albums'] %}
            <div class="card">
                <img class="card-img" src="{{ data['albums'][entry]['img'] }}" alt="">
                <div class="card-info">
                    <p style="font-weight: bold">{{ entry }}</p>
                    <p>Album - {{ data['albums'][entry]['release'] | releaseYear }}</p>
                </div>
                <form action="/lookup" method="post">
                    <input type="hidden" name="id" value="{{ data['albums'][entry]['id'] }}">
                    <input type="hidden" name="category" value="albums">
                    <input class="card-submit" type="submit" value="">
                </form>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if data['singles'] %}
    <h3>SINGLES/EPS</h3>
    <div class="cardcontainer">
        {% for entry in data['singles'] %}
            <div class="card">
                <img class="card-img" src="{{ data['singles'][entry]['img'] }}" alt="">
                <div class="card-info">
                    <p style="font-weight: bold">{{ entry }}</p>
                    <p>Single/EP - {{ data['singles'][entry]['release'] | releaseYear }}</p>
                </div>
                <form action="/lookup" method="post">
                    <input type="hidden" name="id" value="{{ data['singles'][entry]['id'] }}">
                    <input type="hidden" name="category" value="albums">
                    <input class="card-submit" type="submit" value="">
                </form>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if data['compilations'] %}
    <h3>COMPILATIONS</h3>
    <div class="cardcontainer">
        {% for entry in data['compilations'] %}
            <div class="card">
                <img class="card-img" src="{{ data['compilations'][entry]['img'] }}" alt="">
                <div class="card-info">
                    <p style="font-weight: bold">{{ entry }}</p>
                    <p>Album - {{ data['compilations'][entry]['release'] | releaseYear }}</p>
                </div>
                <form action="/lookup" method="post">
                    <input type="hidden" name="id" value="{{ data['compilations'][entry]['id'] }}">
                    <input type="hidden" name="category" value="albums">
                    <input class="card-submit" type="submit" value="">
                </form>
            </div>
        {% endfor %}
    </div>
    {% endif %}

{% endif %}

{% endblock %}