{% extends "layout.html" %}

{% block body %}

<h1>SEARCH</h1>
<p class="section-info">Search for an artist, album, song or playlist on Spotify</p>

<form action="/search" method="post">
    <input class="search" name="query" autofocus type="text" placeholder="Album, track, artist or playlist">
    <input type="submit" value="Lookup">
</form>
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}

{% for result in results %}
<h3>{{ result | capitalize }}</h3>
<div class="cardcontainer">
{% for entry in results[result] %}
    <div class="card">
        <img class="card-img {% if result =="artists" %}artist-img{% endif %}" src="{{ results[result][entry]['img'] }}" alt="">
        <div class="card-info">
            <p style="font-weight: bold">{{ entry }}</p>
            {% if result == "albums" or result == "tracks"%}
                <p>{{ results[result][entry]['artists'] | artists }} </p>
            {% endif %}
        </div>
        <form action="/lookup" method="post">
            <input type="hidden" name="id" value="{{ results[result][entry]['id'] }}">
            <input type="hidden" name="category" value="{{ result }}">
            <input class="card-submit" type="submit" value="">
        </form>
    </div>
{% endfor %}
</div>
{% endfor %}

{% endblock %}

